

/*---------------------balises générales----------------*/

html
{
    font-size: 14px;
}

body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}
.conteneur
{
    width: 950px;
    margin: auto;
    border: solid 1px rgb(224,224,224);
}

.conteneur-1
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*------------------------header-----------------------*/

header
{
    display: flex;
    
}

.photo
{
    text-align: center;
    background-color: rgb(253,216,53);
    width: 256px;
    padding-top: 2rem;
}
.photo img
{
    border: solid 3px rgb(249,168,37);
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

h1
{
    padding-left: 3.1rem;
    font-size: 3rem;
    color: rgb(253,216,53);
    margin-bottom: 0rem;
    padding-top: 3rem;
}
h2
{
    margin-top: 0rem;
    padding-left: 3.1rem;
}

.nom
{
    color: black;
}
.underline
{
    border-bottom: 2px solid rgb(253,216,53);   
}

/*-----------------------partie gauche-----------------------*/

aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(253,216,53);
    width: 350px;
}

.titre-gauche
{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: rgb(121,85,72);
}

aside h3
{
    font-size: 1.4rem;
    color: rgb(253,216,53);
}

ul
{
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: none;
}

li
{
    padding-top: 1rem;
}

a
{
    color: rgb(33,33,33);
}
a:hover
{
    color: rgb(221,44,0);
}

.moi
{
    padding-bottom: 30%;
    text-align: justify;
}

#texte-moi
{
   padding-left: 1rem;
   padding-right: 1rem;
}

.loisirs
{
    
}

.icones
{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icones-loisir
{
    width: 1.8em;
    height: 1.8em;
    color: rgb(121,85,72);
    font-size: 2em;
    border: 2px solid rgb(121,85,72);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*----------------------partie droite----------------------*/

main
{
    display:flex;
    flex-direction: column;
    width: 100%;
}

p
{
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.h3-droit
{
    padding-left: 1.2rem;
    font-size: 1.4rem;   
}
.icone-titre
{   
    color: rgb(253,216,53);
    font-size: 1.8rem;
}

.icone-date
{
    margin-top: 1.2rem;
}

.icone-gauche-date
{
    margin-right: 20px;
    font-size: 1.3rem;
    color: rgb(253,216,53);
}
.point-gauche
{
    margin-right: 20px;
    font-size: 0.7rem;
    color: rgb(253,216,53);
}

.titre-droite
{
    display: flex;
    align-items: baseline;
    justify-content: start;
    border-bottom: 2px solid rgb(253,216,53);
    margin-left: 3em;
    margin-right: 2.5em;
} 
article
{
    margin-left: 6em;
    padding-left: 2.5em;
}
.article-1
{
    margin-left: 8rem; 
}
.article-2
{
    padding-left: 2rem;
}
.recommandations
{
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.8em;

}
.recommandation-1
{
    padding-left: 4rem;
}
.section-recommandations
{
    margin-bottom: 1rem;
}
.contenu-droit
{
    display: inline-flex;
    align-items: flex-start;
    padding-top: 0.8rem; 
}
.icone-date
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 3rem; 
}  


/*-------------------------Media-Queries----------------------*/

@media all and  (max-width: 1024px)

{
    body
    {
        display: flex;
        width: 100%;
    }

    .conteneur
    {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .conteneur-1
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .entete
    {
        flex-direction: column;
    }

    .my
    {
        order: 1;
        padding-bottom: 2rem;
    }
    h1, h2
    {
        text-align: center;
        padding-bottom: 2rem;
        margin-right: 2rem;
    }
    .photo
    {
        width: 100%;
        order: 2;
        padding-bottom: 2rem; 
    }
   
    aside
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 2;
    }
    
    ul
    {
       text-align: center;
    }

    .icones
    {
        display: flex;
        justify-content: space-around;
    }

    main
    {
        display: flex;
        width: 100%;
        order: 1;
        margin: auto;
    }
    .article-1
    {
        margin-left: 3rem;
        padding-right: 60%;
        padding-left: 0rem;
    }

    article 
    {
        margin-left: 0.5rem;
    }
    .article-2
    {
        margin-left: 1rem;
    }

    .contenu-droit
    {
        flex-direction: column;
    }

    section
    {
        display: flex;
        flex-direction: column;
    }

    .recommandations
    
    {
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }

    .recommandation-1
    {
        padding-left: 0rem;
        padding-top: 2rem;
    }

}


