
@font-face 
{
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html
{
    font-size: 14px;
}

body
{
    display: flex;
    font-family: 'open_sansregular';
    max-width: 950px;
    margin: auto;
}

.conteneur
{
    display: flex;
    box-shadow: 0.03rem 0.03rem 0.09rem rgb(97,97,97);
}

aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(253,216,53);
    width: 30rem;
}

aside h3
{
    font-size: 1.4rem;
    color: rgb(253,216,53);
}

.titre-gauche
{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: rgb(121,85,72);
}
.loisirs
{
    padding-bottom: 20px;
}
ul
{
    padding-left: 1rem;
    padding-right: 1rem;
    list-style-type: none;
}

li
{
    padding-top: 1rem;
}
.icones
{
    padding-right:30px;
    padding-left:30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icones-loisir
{
    width: 45px;
    height: 45px;
    color: rgb(121,85,72);
    font-size: 2em;
    border: 2px solid rgb(121,85,72);
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.moi
{
    padding-bottom: 30%;
    text-align: justify;
}
#texte-moi
{
   padding-left: 1rem;
   padding-right: 1rem;
}


.photo
{
    border: solid 3px rgb(249,168,37);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin-top: 2rem;
}
image
{
    
}
a
{
    color: rgb(33,33,33);
}
a:hover
{
    color: rgb(221,44,0);
}

/*-----------------------partie droite-------------------------*/

main
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

header
{
   
}

h1
{
    padding-left: 3.1rem;
    font-size: 3rem;
    color: rgb(253,216,53);
}
h2
{
    padding-left: 3.1rem;
}
.nom
{
    color: black;
}
.underline
{
    border-bottom: 2px solid rgb(253,216,53);
}

.h3-droit
{
    padding-left: 1.2rem;
    font-size: 1.4rem;   
}
.icone-titre
{   
    color: rgb(253,216,53);
    padding-left: 1rem;
    font-size: 1.8rem;
}
.icone-gauche-date
{
    margin-right: 20px;
    font-size: 1.3rem;
    color: rgb(253,216,53);
}
.point-gauche
{
    margin-right: 20px;
    font-size: 0.7rem;
    color: rgb(253,216,53);
}

.titre-droite
{
    display: flex;
    align-items: baseline;
    justify-content: start;
    border-bottom: 2px solid rgb(253,216,53);
    padding-left: 2rem;
} 
article
{
    margin-left: 6em;
    padding-left: 2.5em;
}
.article-1
{
    padding-right: 1em;
    padding-left: 4.5em;
}
.article-2
{
    padding-left: 2em;
}
.recommandations
{
    display: flex;
    justify-content: space-around;
    padding-left: 1.8em;

}
.recommandation-1
{
    padding-left: 50px;
}
.section-recommandations
{
    margin-bottom: 1rem;
}
.contenu-droit
{
    display: inline-flex;
    align-items: flex-start;
    padding-top: 10px;
}
.icone-date
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 45px;
}   

/*-------------------------Media-Queries----------------------*/

@media all and  (max-width: 1024px)

{
    body
    {
        width: 100%;
    }

    .conteneur
    {
        margin: auto;
        width: 100%;
        flex-direction: column;
    }

    aside
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .photo
    {
       margin: auto;
       margin-top: 1.6rem;
    }

    ul
    {
       text-align: center;
    }

    .loisirs
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    .icones
    {
        display: flex;
        justify-content: space-around;
    }

    main
    {
        margin: auto;
        width: 100%;
    }

    section
    {
        display: flex;
        flex-direction: column;
    }

    
   
}


